* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #BFDD42;
    text-align: center;

}

.container {
    height: 70vh;
   
    display: flex;
   
    justify-content: center;
    align-items: center;
   

}

.game {
    height: 60vh ;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    gap: 1.5vh;

}

.box {
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    font-size: 8vh;
    color: red;
    background-color: gray;
}

#reset-but {
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-but {
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: azure;
    font-size: 5vh;
}

.msg-container {
    height: 30vh;
}

.hide {
    display: none;
}







